body{
   background-color: #f5f5f5;
}

.header {
   padding: 41px 0;
   display: flex;
   justify-content: center;  
   &-logo {
      margin-right: 373px;
      padding-top: 20px;
      font-size: 14px;
   }   
}



ul.hr {
   display: flex;
   justify-content: space-between; 
   list-style-type: none;
   li {
      margin-right: 26px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      line-height: 25px;
      
   }      
}
   




 