.main {
    display: flex;
    justify-content: center;
    &-container {      
        background-color: white;
        max-width: 1162px;    
        height: 500px;
        border-radius: 20px;
        box-shadow: 0.4em 0.4em 10px #e7e7e7;      
        p {
            padding: 30px;
        }
    }
}
