.main {
    display: flex;
    justify-content: center;
    &-container {   
        display: flex; 
        flex-wrap: wrap;  
        justify-content: space-between;
        background-color: white;
        max-width: 1162px;            
        border-radius: 20px;
        box-shadow: 0.4em 0.4em 10px #e7e7e7;      
    }
    &-wrap_text {  
            font-family: 'Montserrat-Regular', sans-serif;         
            width: 500px;
            height: 400px;
            border: 5px;
            padding-top: 100px;
            padding-left: 100px;
           
            button {
                background-color: #20B2AA;
                width: 200px;
                height: 50px;
                border-radius: 10px;
                box-shadow: none;
                border: none;
                font-family: 'Montserrat-Regular', sans-serif;  
                color: white;
                font-weight: 700;
                font-size: 15px;
                transition: 0.5s;  
                cursor: pointer;  
                margin-top: 5px;
            }
            button:hover {
                background-color: black;
            }
        }
    &-wrap_logo {            
           width: 400px;
           height: 300px;
           padding-top: 100px;
           padding-right: 100px;          
           img {
                
                width: 400px;
                height: 300px;
                border-radius: 20px;                
            }
        }
    &-wrap_advantages {
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        padding-bottom: 0px;     
            
        ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 120px;
        padding-right: 110px;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Montserrat-Regular', sans-serif;  
        padding-bottom: 80px;
        }   
               
    }
    
}
