.main {    
    background-color: #222;
    margin: 0px auto;
    height: 500px;
    h1 {
        color: #888;
        font-family: 'Montserrat-Regular', sans-serif;
    }
    h2 {
        color: #888;
        font-family: 'Montserrat-Regular', sans-serif;
    }
}

